$topH = 1.5rem
$bottom = 1.5rem
.headerTab
  width 100%
  height $topH
  position absolute
  top 0
  left 0
  background lightgray
.content
  position absolute
  left 0
  right 0
  top $topH
  bottom $bottom
  background antiquewhite
.bottomTab
  width 100%
  height $bottom
  position absolute
  bottom 0
  left 0
  background grey
