.head-box
  box-shadow 0px 0px 20px 1px rgba(0,0,0,0.3)
  .m-header
    position relative
    height 1.173rem
    text-align center
    color #fff
    display flex
    align-items center
    justify-content center
    .icon
      width 0.8rem
      height 0.8rem
      margin-right .24rem
      background-image url('../imgs/logo.png');
      background-size cover;
      border-radius 50%;
    h1
      font-size $fontSize14
      font-weight bold
  .tab-box
    display flex
    height 1.173rem
    line-height 1.173rem
    font-size $fontSize14
    .active
      .tab-link
        color: #64e0bc !important
        border-bottom: 2px solid #64e0bc !important
    .item
      flex 1
      text-align center
      .tab-link
        padding-bottom .133rem;
        color rgba(255,255,255,0.5);
